
@font-face {
            font-family: 'Determination';
            src: url('determination.ttf') format('truetype');
}
        * {
            margin: 0;
            padding: 0;
        }
        html, body {
            overflow: hidden;
            width: 100vw;
            height: 100vh;
            background: rgb(255, 255, 255);
            z-index: -2;
        }
        body {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: 0;
            z-index: -2;
        }

        #background-video {
            position: fixed;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            min-width: 100vw;
            min-height: 100vh;
            object-fit: cover;
            background: white;
            z-index: -1;
            opacity: 100%;
        }

body {
            margin: 0;
            padding: 20px;
            font-family: 'Determination', sans-serif;
        }
        


       #beginBtn {
    position: fixed;
    bottom: 30px;
    left: 50%;
    padding: 10px 10px;
    transform: translateX(-50%);
    font-family: Determination, sans-serif;
    font-size: 36px;
    color: #00c000;
    background-color: black;
    border: #00c000 5px solid;
    z-index: 11;
}

#resetBtn {
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 10px 10px;
    display: none;
    font-family: Determination, sans-serif;
    font-size: 36px;
    color: #00c000;
    background-color: black;
    border: #00c000 5px solid;
}

#characterContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 500px;
    border: px solid green;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

.hidden {
    display: none;
}

#headSelection {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    display: flex;
    gap: 0px;
    margin-left: calc(50% - 252px);
    z-index: 10;
    transition: transform 0.5s ease; /* Add this line */
}

.head-option {
    width: 500px;
    height: 500px;
    object-fit: contain;
    border: 0px solid transparent;
    z-index: 11;
    position: relative;

}

#proceed1 {
    position: fixed;
    bottom: 40px;
    left: 50%;
    padding: 10px 10px;
    transform: translateX(-50%);
    font-family: Determination, sans-serif;
    font-size: 36px;
    color: #00c000;
    background-color: black;
    border: #00c000 5px solid;
    z-index: 11;
}

#shirtSelection {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    display: flex;
    gap: 0px;
    margin-left: calc(50% - 252px);
    z-index: 9;
    transition: transform 0.5s ease; /* Add this line */
}

.shirt-option {
    width: 500px;
    height: 500px;
    object-fit: contain;
    border: 0px solid transparent;
    z-index: 9;
    position: relative;

}

#proceed2 {
    position: fixed;
    bottom: 40px;
    left: 50%;
    padding: 10px 10px;
    transform: translateX(-50%);
    font-family: Determination, sans-serif;
    font-size: 36px;
    color: #00c000;
    background-color: black;
    border: #00c000 5px solid;
    z-index: 11;
}
#pantsSelection {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    display: flex;
    gap: 0px;
    margin-left: calc(50% - 252px);
    z-index: 8;
    transition: transform 0.5s ease; /* Add this line */
}

.pants-option {
    width: 500px;
    height: 500px;
    object-fit: contain;
    border: 0px solid transparent;
    z-index: 8;
    position: relative;

}

#proceed3 {
    position: fixed;
    bottom: 40px;
    left: 50%;
    padding: 10px 10px;
    transform: translateX(-50%);
    font-family: Determination, sans-serif;
    font-size: 36px;
    color: #00c000;
    background-color: black;
    border: #00c000 5px solid;
    z-index: 11;
}

#heartSelection {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    display: flex;
    gap: 0px;
    margin-left: calc(50% - 252px);
    z-index: 10;
    transition: transform 0.5s ease; /* Add this line */
}

.heart-option {
    width: 500px;
    height: 500px;
    object-fit: contain;
    border: 0px solid transparent;
    z-index: 10;
    position: relative;

}

#finalizeBtn {
    position: fixed;
    bottom: 40px;
    left: 50%;
    padding: 10px 10px;
    transform: translateX(-50%);
    font-family: Determination, sans-serif;
    font-size: 36px;
    color: #00c000;
    background-color: black;
    border: #00c000 5px solid;
    z-index: 11;
}

#arrowLeft {
    position: fixed;
    bottom: 40px;
    left: calc(50% - 200px); /* Position left of center */
    padding: 10px 10px;
    font-size: 36px;
    cursor: pointer;
    font-family: Determination, sans-serif;
    font-size: 48px;
    color: #00c000;
    background-color: black;
    border: #00c000 5px solid;
    display: none; /* Hidden by default */
    z-index: 11;
}

#arrowRight {
    position: fixed;
    bottom: 40px;
    right: calc(50% - 200px); /* Position right of center */
    padding: 10px 10px;
    font-size: 36px;
    cursor: pointer;
    font-family: Determination, sans-serif;
    font-size: 48px;
    color: #00c000;
    background-color: black;
    border: #00c000 5px solid;
    display: none; /* Hidden by default */
    z-index: 11;
}

#instructions1 {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    font-family: Determination, sans-serif;
    font-size: 36px;
    color: white;
    padding: 10px 20px;
    z-index: 11;
}
#instructions2 {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    font-family: Determination, sans-serif;
    font-size: 36px;
    color: white;
    padding: 10px 20px;
    z-index: 11;
}
#instructions3 {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    font-family: Determination, sans-serif;
    font-size: 36px;
    color: white;
    padding: 10px 20px;
    z-index: 11;
}
#instructions4 {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    font-family: Determination, sans-serif;
    font-size: 36px;
    color: white;
    padding: 10px 20px;
    z-index: 11;
}

#backgroundContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 550px;
    height: 550px;
    border: 5px solid #00c000;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 5;
    transition: opacity 0.2s ease;
}

#finishBtn {
    position: fixed;
    bottom: 40px;
    left: 50%;
    padding: 10px 10px;
    transform: translateX(-50%);
    font-family: Determination, sans-serif;
    font-size: 36px;
    color: #00c000;
    background-color: black;
    border: #00c000 5px solid;
    z-index: 11;
}

#instructions5 {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    font-family: Determination, sans-serif;
    font-size: 36px;
    color: white;
    padding: 10px 20px;
    z-index: 11;
}
#DownloadBtn {
    position: fixed;
    bottom: 40px;
    left: 50%;
    padding: 10px 10px;
    transform: translateX(-50%);
    font-family: Determination, sans-serif;
    font-size: 36px;
    color: #00c000;
    background-color: black;
    border: #00c000 5px solid;
    z-index: 11;
}